@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
:root{
    
    /* theme one */
    --backgroundBodyOne: hsl(222, 26%, 31%);
    --TextWhiteThree: rgb(172, 172, 172);
    --toggleOne: hsl(223, 31%, 20%);
    --textButton: hsl(221, 14%, 31%);
    --colorDisplay: hsl(223, 31%, 20%);
    --backgroundDelOne: hsl(225, 21%, 49%);
    --backgroundEqOne: rgb(209, 55, 55);
    --hoverEqOne: rgb(236, 113, 91);
    --hoverClearsOne: hsl(226, 54%, 69%);
    --hoverTextButton: hsl(0, 0%, 100%);
    --borderEqOne: rgb(128, 19, 0);
    --borderNumberOne: rgb(182, 182, 182);
    --borderClearsOne: hsl(224, 32%, 31%);
    --backgroundToggleOne: rgb(248, 68, 68);
    --backgroundToggleOneHover: rgb(247, 137, 137);

    /* theme two */
    --backgroundBodyTwe: hsl(0, 0%, 90%);
    --TextTwo: hsl(60, 10%, 19%);
    --displayOne: rgb(224, 222, 222);
    --colorWhite: white;
    --bottonsClearsTwo: hsl(185, 42%, 37%);
    --backgroungNumbersOne: rgb(231, 228, 228);
    --toggleTwo: hsl(0, 5%, 81%);
    --borderClearsTwo: hsl(185, 58%, 25%);
    --backgroundEqTwo: hsl(25, 98%, 40%);
    --borderEqTwo: hsl(25, 99%, 27%);
    --borderNumTwo: rgb(151, 150, 150);
    --hoverClearsTwo: hsl(185, 59%, 45%);
    --hoverEqTwo: hsl(25, 69%, 49%);
    --hoverBackgroungNumbersOne: rgb(255, 255, 255);

    --backgroundToggleTwo: orangered;
    --backgroundTogglesTwoHover: hsl(25, 69%, 49%);

    /* thme three */
    --backgroundBodyThree: hsl(268, 75%, 9%);
    --textYellowThree: hsl(52, 100%, 62%);
    --toggleThree: hsl(268, 71%, 12%);
    --colorButtonThree: hsl(268, 47%, 21%);
    --btnEqColor: black;
    --buttonsClearsThree: hsl(281, 89%, 26%);
    --buttonEqThree: hsl(176, 100%, 44%);
    --borderEqThree: hsl(176, 60%, 65%);
    --borderClearsThree: hsl(281, 91%, 44%);
    --borderNumbersThree: hsl(281, 97%, 37%);
    --hoverClearsThree: hsl(281, 90%, 35%);
    --hoverEqThree:hsl(176, 55%, 73%);
    --hoverColorButtonThree: hsl(268, 47%, 45%);
    --backgroundToggleThree: aqua;
    --backgroundToggleThreeHover: rgb(169, 247, 247);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body{
    background-color: var(--backgroundBodyOne);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.container{
    
    width: 400px;
}
header{
    display: flex;
    justify-content: space-between;
    color: var(--TextWhiteThree);
    background-color: var(--backgroundBodyOne);
}
.transicao{
    transition: 500ms;
}

header h3{
    font-size: 20px;
    font-weight: 700;

}
.theme{
    display: flex;
    font-size: 10px;
    font-weight: 700;
    gap: 18px;
    
}
.labelButtonTheme{
    background-color: var(--colorDisplay);
    outline: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    
}

.button-one{
    background-color: rgb(248, 68, 68);
}
.button-one:hover{
    background-color: var(--backgroundToggleOneHover);
}
.button-twe{
    background-color: var(--colorDisplay);
}
.button-twe:hover{
    background-color: orangered;
}
.button-three{
    background-color: var(--colorDisplay);
}
.button-three:hover{
    background-color: aqua;
}
#buttonTheme{
    transition: 0.2s;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 4px;
}




.themeCheck{
    display: none;
}


.inforLabel {
    display: flex;
    flex-direction: column;
    margin-top: -17px;
}
.inforLabel span{
    text-align: center;
    word-spacing: 8px;
    margin-bottom: 2px;
    font-weight: 500;
}
.display{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--backgroundBodyOne);
    padding-top: 20px;
    padding-bottom: 20px;
}
.display input{
    width: 100%;
    height: 2em;
    background-color: var(--colorDisplay);
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 700;
    color: var(--TextWhiteThree);
    font-size: 40px;
    text-align: end;
    padding-right: 30px;
}

.tecla{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
}
.btn{
    width: 70px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: var(--textButton);
    border-bottom: 3px solid var(--borderNumberOne);
    
}
.btnReset, .btnEq{
    width: 160px;
    font-size: 20px;
    color: var(--TextWhiteThree);
    
}
.btnDel, .btnReset{
    background-color: var(--backgroundDelOne);
    color: var(--TextWhiteThree);
    transition: 300ms;
    border-bottom: 3px solid var(--borderClearsOne);
}

.btnDel:hover, .btnReset:hover{
    background-color: var(--hoverClearsOne);
    
}

.btnEq{
    background-color: var(--backgroundEqOne);
    transition: 300ms;
    border-bottom: 3px solid var(--borderEqOne);
}
.btnEq:hover{
    background-color: var(--hoverEqOne);
}

td {
    padding: 8px;
}